* {
    margin: 0 auto;
    padding: 0px;
}

body {
    background-color: rgb(127, 255, 212);

}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}
input{
    padding: 5px;
}
select{
    width: 150px;
    margin-top: 15px;
    padding: 5px;
}

p {
    margin: 10px 0 10px 0;
}

footer {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-style: italic;

}